*{
	box-sizing: border-box;
	border-width: 0;
	margin:0px;
	padding: 0px;
}

html,body{
	width: 100%;
    height: 100%;
}

#logo{
	position: absolute;
    top: 16px;
    left: 16px;
    width: 110px;
    height: 27px;
    z-index: 1;
}

#text_img{
	position: absolute;
    left: 50%;
    margin-left: -275px;
    top: 10px;
    width: 550px;
    height: 385px;
    z-index: 1;
}

#container{
	position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
    background-image: url(../images/login_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#msg_box{
    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -200px;
    background-color: #fff;
    z-index: 4;
}

#container .block{
    padding: 55px 50px 50px;
    position: relative;
}

.text-box{
    position: relative;
    font-size: 16px;
    margin-bottom: 7px;
    color: #666;
}

.text-box input{
    width: 300px;
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    z-index: 1;
}

.go_button{
	color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 300px;
    text-align: center;
    background-color: #f85959;
    margin-bottom: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.sign_tip{
	font-size: 12px;
    text-align: center;
    color: #555;
}

.sign_tip a{
    cursor: pointer;
}

.sign_in_box{
	display: block;
}


.sign_up_box{
	display: none;
}

.text-box .test_code{
    width: 180px;
}

.code_box{
    width: 108px;
    height: 36px;
    border: lightgray solid 1px;
    float: right;
    font-size: 39px;
    font-family: fantasy;
    font-weight: 800;
    text-align: center;
    line-height: 35px;
    user-select: none;
}

.code_container{

}

.inline_b{
    display: inline-block;
}