*{
	box-sizing: border-box;
	border-width: 0;
	margin:0px;
	padding: 0px;
}

a{
	color: inherit;
	text-decoration: none;
}

html{
    height: 100%;
}

body{
    background: #F4F5F6;
}

.f_l{
	float: left;
}

.f_r{
	float: right;
}

li{
    list-style: none;
}

button{
    outline: none;
    cursor: pointer;
}

body{
	min-width: 1220px;
}

header{
    height: 34px;
    width: 100%;
    background-color: #222222;
    color: white;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    line-height: 34px;
}

#top_left{
	border: #3a3a3a solid 0;
    border-right-width: 1px;
    padding: 0 10px;
}

#top_middle{
	display: inline-block;
}

#top_list{
    position: relative;
    padding: 0 20px;
}

#first_list > li{
    margin-right: 20px;
    width: 26px;
}

header > div > div > ul > li{
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

.right_list > li{
    border-left: 1px solid #3a3a3a;
}

.right_list > li > a{
    padding: 0 10px;
}

.pointer{
    cursor: pointer;
}

#sceond_header{
    position: relative;
    height: 58px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
    margin-bottom: 16px;
}

#sceond_header > div{
    width: 1060px;
    margin: 0 auto;
    overflow: hidden;
}

#sceond_header > div > div{
    line-height: 76px;
}


#sceond_header img{    
    width: 108px;
    height: 27px;
}

#sceond_header > div:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.nav-layer{
    position: absolute;
    top: 34px;
    right: -32px;
    width: 90px;
    z-index: 10;
    color: black;
}

.nav_more li{
    padding: 10px;
    line-height: 10px;
    text-align: center;
    background: #fff;
}

#user_box{
    position: relative;
    text-align: center;
    font-size: 14px;
    padding-right: 14px;
    border-left-width: 0;
}

.user_image{
    display: inline-block;
}

.user_layer, .layer{
    position: absolute;
    top: 34px;
    border: 1px solid #d9d9d9;
    background: #fff;
    z-index: 22;
    font-size: 14px;
    width: 130px;
}

 .layer{
    right: 0;
 }

.user_layer li, .layer li{
    cursor: pointer;
    display: block;
    width: auto;
    height: 42px;
    line-height: 42px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.relative_p{
    position: relative;
}

.p_change{
    display: none;
}

.p_change:hover, .more_list:hover>.p_change, .more_list:hover>div>div>div>.p_change{
    display: block;
}

main{
    width: 1060px;
    margin: 0 auto;
}

#background_box{
    height: 160px;
}

#background_img{
    width: 100%;
    height: 100%;
}

#info_box{
    margin-bottom: 20px;
}

#user_info{
    padding: 16px 0 0 134px;
    position: relative;
    min-height: 84px;
    background: white;
}

#user_info > ul{
    font-weight: 700;
    display: table-cell;
    font-size: 24px;
    color: #222;
    letter-spacing: 0;
    line-height: 24px;
}

#head_icon{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20px;
    top: -36px;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 100px;
}

#up_button{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 37px;
    width: 164px;
    background: #2a90d7;
    text-align: center;
    border: 1px solid #2a90d7;
    padding: 0;
    border-radius: 6px;
    cursor: pointer;
}

#comm_box{
    width: 100%;
}

#comm_nav{
    background-color: white;
    height: 46px;
    border-bottom: 2px solid #E8E8E8;
    line-height: 46px;
    font-size: 19px;
    font-weight: 100;
}

#comm_nav > span{
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid palevioletred;
}

.comm_li{
    padding: 10px 20px;
    margin-top: 10px;
    border-bottom: 2px solid #E8E8E8;
    background-color: white;
}

.comm_li_cont{
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
}

.com_new{
    font-size: 12px;
    color: gray;
}

.comm_li_container{
    border-bottom: 1px solid lightgray;
}